#shopCart {
  top: 0;
  right: -320px;
  bottom: 0;
  height: 100%;
  width: 320px;
  overflow: auto;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

.showShopCart {
  right: 0 !important;
}

.cartHeader {
  padding: 15px 0;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

.closeCart {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  bottom: 0;
}

.cartProduct {
  border-bottom: 1px solid #ebebeb;
}

.cartProductInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartProductNames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 145px;
}

.cartProductNames a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #222;
  margin: 0;
}

.cartMainPrice {
  color: #37a0bd;
  font-weight: 600;
}

.cartPrice {
  margin-top: 10px;
}

.cartBottom {
  padding: 10px 15px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
}

.cartTotalProductInfo {
  text-align: center;
  background-color: #cff4fc;
  color: #37a0bd;
  border-radius: 5px;
  padding: 5px 0;
}

.cartSummaryLine {
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartTotalExcl {
  margin-top: 15px;
  font-weight: 600;
}

.cartTotalIncl {
  font-weight: 600;
  margin: 5px 0;
}

.total-price {
  color: #666;
}

.total-price-bottom {
  color: #37a0bd;
}

.taxes-price {
  font-size: 13px;
  color: #666;
}

.goCheck {
  text-align: center;
  margin: 15px 0;
}

.goCheck:hover .checkCart {
  background-color: #263c97 !important;
}

.goCheck .checkCart {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #37a0bd;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 5px;
}

.goCheck .checkCart span {
  font-size: 17px;
  margin: 0 5px;
}

.cartCurrency {
  margin: 15px 0;
}

.currencyType {
  margin: 10px 5px;
  background-color: #37a0bd;
  padding: 3px 5px;
  border-radius: 5px;
}

.selectedCurrency {
  background-color: #5a9e74 !important;
}

.cartItemImg {
  width: 100px;
}

.deleteCartProduct {
  cursor: pointer;
}
/*# sourceMappingURL=shopcart.css.map */