$maincolor: #263c97;
$secondcolor: #16bcdc;
$transition: all 0.3s ease;
$navBorder: 1px solid rgba(255, 255, 255, 0.164);

footer {
  background-color: #1f2024;
}
.service-area {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    .service-icon {
      animation: serviceIconRotate 0.7s ease-in-out;
    }
  }
}
.service-icon {
  color: #16bcdc;
  transition: $transition;
}
.service-info {
  margin: 0 10px;
}
.service-header {
  margin-bottom: 2px;
  font-weight: 550;
  font-size: 15px;
  color: #fff;
}
.service-inner {
  color: #666;
}
.service-main {
  padding: 50px 0;
  border-bottom: 1px solid #313135;
}

@keyframes serviceIconRotate {
  0% {
    transform: rotate(0) scale(1);
  }
  20% {
    transform: rotate(25deg) scale(1.1);
  }
  40% {
    transform: rotate(-25deg) scale(1.1);
  }
  60% {
    transform: rotate(15deg) scale(1.2);
  }
  80% {
    transform: rotate(-15deg) scale(1.1);
  }
  90% {
    transform: rotate(-15deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
.footer-inner {
  padding: 50px 0;
}
.contact-header {
  color: #666;
  font-size: 15px;
}
.contact-info {
  display: flex;
  flex-direction: column;
}
.contact {
  margin: 5px 0;
  color: #666;
}
.contact-icon {
  color: #fff;
  font-size: 18px;
  margin: 0 5px;
}
.socialMediaWrapper{
  margin: 10px 0;
}
.social-header{
  font-weight: 600;
  color: #fff;
}
.social-media {
  margin: 17px 0;
}
.social-inner {
  position: relative;
  margin: 5px 5px;
}
.social-name {
  transform: translateY(5px) !important;
  opacity: 0;
  position: absolute;
  top: -22px;
  left: -10px;
  background-color: #000;
  width: 60px;
  text-align: center;
  color: #fff;
  height: 0;
  overflow: hidden;
  font-size: 12px;
  border-radius: 5px;
  transition: $transition;
}
.social-icon {
  font-size: 40px;

  padding: 9px;
  color: #fff;
  border-radius: 5px;
  transition: $transition;
  cursor: pointer;

  &:hover {
    border-radius: 50%;
  }
}
.facebook {
  background-color: #3b5998;
}
.twitter {
  background-color: #55acee;
}
.rss {
  background-color: #f5650e;
}
.vimeo {
  background-color: #aad450;
}
.youtube {
  background-color: #bb200c;
}
.instagram {
  background-color: #e1306c;
}
.facebook-inner {
  &:hover {
    .facebook-name {
      opacity: 1 !important;
      transform: translateY(0) !important;
      height: 18px;
    }
  }
}
.twitter-inner {
  &:hover {
    .twitter-name {
      opacity: 1 !important;
      transform: translateY(0) !important;
      height: 18px;
    }
  }
}
.rss-inner {
  &:hover {
    .rss-name {
      opacity: 1 !important;
      transform: translateY(0) !important;
      height: 18px;
    }
  }
}
.youtube-inner {
  &:hover {
    .youtube-name {
      opacity: 1 !important;
      transform: translateY(0) !important;
      height: 18px;
    }
  }
}
.vimeo-inner {
  &:hover {
    .vimeo-name {
      opacity: 1 !important;
      transform: translateY(0) !important;
      height: 18px;
    }
  }
}
.instagram-inner {
  &:hover {
    .instagram-name {
      opacity: 1 !important;
      transform: translateY(0) !important;
      height: 18px;
    }
  }
}
.footer-nav-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-nav-header{
  color: #fff;
  font-weight: 600;

}
.footer-nav-inner{
  margin: 0 10px;
}
.footer-nav{
  margin: 10px 0;
  padding: 0;
  .footer-item{
    list-style: none;
    margin: 7px 0;

    .footer-link{
      text-decoration: none;
      color: #666;
      transition: $transition;
      &:hover{
        color: $secondcolor;
      }
      
      &::before{
        content: ">";
        margin: 0 5px;
      }
    }
  }
}

.copyright{
  text-align: center;
  color: #666;
  padding: 20px 0;
  border-top: 1px solid #313135;

  span{
    color: #fff;
  }
}

.newsInfo{
  color: #666;
  font-size:13px;
}
.newsletterArea{
  display:flex;
  flex-direction: column;
}
.checkInfo{
  color: #666;
  font-size: 13px;
  padding-left: 10px;
}

