.trends-main {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.trend-area {
  width: 100%;
}

.trend-header {
  font-size: 25px;
  font-weight: 600;
  border-bottom: 3px solid #16bcdc;
}

.trend-inner {
  width: 100%;
  height: 100%;
}

.trend-header-area {
  border-bottom: 1px solid #a5a5a549;
}

.mySwiper {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.brandSwiper {
  background-color: #fff !important;
}

.trendSwiper {
  padding: 25px 10px !important;
}

.show-more {
  color: #263c97;
  text-decoration: none;
  font-weight: 600;
}

.product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
  width: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 1px solid #94949446;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.product-box:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.product-box .product-img {
  position: relative;
  width: 100% !important;
}

.product-box .product-img:hover .show-product {
  opacity: 1 !important;
}

.product-box .product-titles {
  background-color: #f0f0f0;
  width: 100%;
  min-height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-box .product-title {
  font-size: 14px;
  width: 100%;
  font-weight: 600;
  margin: 10px 20px;
  text-decoration: none;
  color: #000;
}

.price {
  font-size: 15px;
  font-weight: 600;
  color: #16bcdc;
}

.buy-btn {
  border-radius: 5px;
  border: none;
  background-color: #16bcdc;
  color: #fff;
  font-size: 14px;
  padding: 3px 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.buy-btn:hover {
  background-color: #263c97;
}

.show-product {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #00000021;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.eye-icon {
  opacity: 0.5;
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.eye-icon:hover {
  opacity: 1 !important;
}

.show-indicator {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #16bcdc;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.show-indicator:hover {
  opacity: 1 !important;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.hidden-indicator {
  display: none;
}

.trend-img-area {
  width: 100%;
  position: relative;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.trend-img-area:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.trend-img-area img {
  border-radius: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sale-trend {
  margin: 30px 0;
}

.trend-info {
  position: absolute;
  text-align: start;
  top: 15%;
  left: 5%;
}

.trend-info .trend-link {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.trend-info .trend-link .trend-title {
  margin-top: 30px;
  font-size: 17px;
  font-weight: normal;
}

.sale-price {
  text-decoration: line-through;
  color: #666 !important;
}

.sale-icon {
  background-color: #e43d3d;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
  font-size: 13px;
}

.addedBasket {
  background-color: #d02124 !important;
}

.swiper-css-mode .swiper-wrapper {
  padding: 25px 10px !important;
  overflow-y: visible !important;
  overflow-x: auto !important;
}

@media screen and (max-width: 450px) {
  .trend-header {
    font-size: 20px !important;
  }
  .eye-icon {
    width: 50px !important;
    height: 50px !important;
  }
  .trendLinkHeader {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .trend-info {
    left: 15% !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .trendLinkHeader {
    font-size: 15px !important;
  }
  .trend-title {
    margin-top: 10px !important;
  }
}
/*# sourceMappingURL=productslider.css.map */