@import "../../../mainstyle/variables.scss";

.featured-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.featured-info {
  display: flex;
  flex-direction: column;
  width: 100%;

  justify-content: space-between;
}
.featured-header {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  transition: $transition;
  &:hover {
    color: $secondcolor !important;
  }
}
.featured-title {
  font-size: 13px;
  color: #666;
  font-weight: 600;
}
.featured-area {
  background-color: #fff;
  border: 1px solid #94949446;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transform: translateY(0);
  transition: all 0.2s linear;

  &:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}
.featured-img {
  &:hover {
    .show-product {
      opacity: 1 !important;

      .eye-icon {
        width: 30px !important;
        height: 30px !important;
      }
    }
  }
}
.featured-bottom {
  display: flex;
  flex-direction: column;
  .add-cart-btn {
    color: #fff;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $secondcolor;
    font-weight: 600;
    border: none;
    font-size: 13px;
    margin-left: auto;
  }
}
.featured-price {
  font-weight: 600;
  font-size: 20px;
  color: $secondcolor;
}
.discount-price {
  color: #666;
  text-decoration: line-through;
  margin: 5px 0;
}

.featured-sale {
  padding: 0 5px;
  border-radius: 5px;
}
