$mainColor: #263c97;
$secondColor: #37a0bd;
$transition: all 0.3s ease-in-out;
$hoverColor: $secondColor !important;
$borderBottom: 1px solid #ebebeb;





.MainStyle{
    background-color: #F4F4FF;
}
