$maincolor: #263c97;
$secondcolor: #16bcdc;
$transition: all .3s ease;
$navBorder: 1px solid rgba(255, 255, 255, 0.164);

#mainHeader {
  background-color: $maincolor;
}
.ReactFlagsSelect-module_selectBtn__19wW7 {
    border-radius: 0px !important;
    border-right: $navBorder;
    padding: 0px 10px  !important;
  &::after {
    border-top: 5px solid #fff;
    
  }
  .ReactFlagsSelect-module_selectValue__152eS{
    margin: 0 !important;
  }
}
.ReactFlagsSelect-module_selectFlag__2q5gC{
    font-size: 1em !important;
}
.ReactFlagsSelect-module_selectBtn__19wW7[aria-expanded="true"] {
  &::after {
    border-bottom: 5px solid #fff !important;
  }
}
.ReactFlagsSelect-module_selectOptions__3LNBJ {
  margin-top: 0px !important;
  min-height: 100% !important;
  max-height: inherit !important;
  overflow: hidden !important;
  .ReactFlagsSelect-module_label__27pw9 {
    color: #000;

    &:hover{
        color: $secondcolor !important;
    }
  }
}
.ReactFlagsSelect-module_label__27pw9 {
    font-size: .9em !important;
    font-weight: 600 !important;
  color: #fff;
  transition: $transition;
  &:hover{
    color: $secondcolor !important;
}
}

#reactFlag {
  color: #000;
  
}
.dropdown-menu{
    min-width: 0 !important;
    
}
.dropdown-item{
    padding: 5px 15px !important;
    font-size: .9em;
    font-weight: 600;
    transition: $transition;
    &:hover{
        color: $secondcolor !important;
    }
}
#dropdownMenu2{
    background-color: transparent !important;
    color: #fff !important;
    border-right: $navBorder !important;
    font-weight: 600;
    border: none;
    font-size: .9em;
    transition: $transition;
    &:hover{
        color: $secondcolor !important;
    }
}
.help-text{
    font-size: .9em;
    font-weight: 600;
    color: #fff !important;
}
.call-num{
    transition: $transition;
    &:hover{
        color: $secondcolor !important;
    }
}

.right-item{
    list-style: none;

    .right-link{
        color: #fff;
        font-weight: 600;
        font-size: .9em;
        text-decoration: none;
        padding: 0 15px;
        transition: $transition;
        &:nth-child(1){
            border-right: $navBorder;
        }
        &:hover{
            color: $secondcolor;
        }
    }
    .faq{
        border: none !important;
    }
}