$maincolor: #263c97;
$secondcolor: #16bcdc;
$transition: all 0.3s linear;
$navBorder: 1px solid rgba(255, 255, 255, 0.164);

#navMain {
  z-index: 98;
}
body {
  position: relative;
}
.navbar {
  background-color: transparent;
  min-height: 55px;
  transition: $transition;
}
.top-nav {
  position: relative;
  border-bottom: $navBorder;
}
.loginMain {
  opacity: 0 !important;
}
.sticky-nav {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  padding: 0 1rem !important;
  background-color: $maincolor !important;
  height: 70px;
  left: 0 !important;
}
#mainHeader {
  background-color: $maincolor;
  position: relative;
}

.ReactFlagsSelect-module_selectBtn__19wW7 {
  border: none;
  border-radius: 0px !important;
  border-right: $navBorder;
  padding: 0px 10px !important;
  &::after {
    border-top: 5px solid #fff;
  }
  .ReactFlagsSelect-module_selectValue__152eS {
    margin: 0 !important;
  }
}
.ReactFlagsSelect-module_selectFlag__2q5gC {
  font-size: 1em !important;
}
.ReactFlagsSelect-module_selectBtn__19wW7[aria-expanded="true"] {
  &::after {
    border-bottom: 5px solid #fff !important;
  }
}
.ReactFlagsSelect-module_selectOptions__3LNBJ {
  margin-top: 0px !important;
  min-height: 100% !important;
  max-height: inherit !important;
  overflow: hidden !important;
  .ReactFlagsSelect-module_label__27pw9 {
    color: #000;

    &:hover {
      color: $secondcolor !important;
    }
  }
}
.ReactFlagsSelect-module_label__27pw9 {
  font-size: 0.9em !important;

  color: #fff;
  transition: $transition;
  &:hover {
    color: $secondcolor !important;
  }
}

#reactFlag {
  color: #000;
}
.dropdown-menu {
  min-width: 0 !important;
}
.dropdown-item {
  padding: 5px 15px !important;
  font-size: 0.9em;

  transition: $transition;
  &:hover {
    color: $secondcolor !important;
  }
}
#dropdownMenu2 {
  background-color: transparent !important;
  color: #fff !important;
  border-right: $navBorder !important;

  border: none;
  font-size: 0.9em;
  transition: $transition;
  &:hover {
    color: $secondcolor !important;
  }
}
.help-text {
  font-size: 0.9em;

  color: #fff !important;
}
.call-num {
  transition: $transition;
  &:hover {
    color: $secondcolor !important;
  }
}

.right-item {
  list-style: none;

  .right-link {
    color: #fff;

    font-size: 0.9em;
    text-decoration: none;
    padding: 0 15px;
    transition: $transition;
    &:nth-child(1) {
      border-right: $navBorder;
    }
    &:hover {
      color: $secondcolor;
    }
  }
  .faq {
    border: none !important;
  }
}

#search {
  width: 80%;
  height: 50px;
  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-form {
  text-align: center;
  height: 50px;
  width: 100%;
}
#searchSubmit {
  background-color: $secondcolor;
  vertical-align: bottom;
  width: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: inherit;
  border: none;
  svg {
    padding: 0;
    color: #fff;
  }
}
.middle-nav {
  border-bottom: $navBorder;
  justify-content: space-between;
}
.middle-right {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 350px;

  .login-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    .login-or-register {
      display: flex;
      flex-direction: column;
      margin: 0 5px;

      .login-header {
        font-size: 15px;
        color: #a3afe1;
        cursor: pointer;
      }
      .register-header {
        font-size: 15px;
        cursor: pointer;
        color: #fff;
      }
    }
  }
  .my-cart {
    cursor: pointer;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .product-quantity {
      border-radius: 50%;
      text-align: center;
      color: #fff;
      font-size: 14px;
      background-color: $secondcolor;
      position: absolute;
      left: 9px;
      padding: 0 7px !important;
      top: 0;
    }
    .cart-info {
      display: flex;
      margin: 0 5px;
      justify-content: center;
      flex-direction: column;
      .cart-header {
        color: #a3afe1;
        font-size: 15px;
      }
      .cart-price {
        color: #fff;
        font-size: 15px;
      }
    }
  }
}
.get-side-menu {
  font-size: 15px;
  color: #fff;
  transition: $transition;
  cursor: pointer;
  &:hover {
    color: $secondcolor !important;
  }
}
.navbar-nav {
  width: 716px;
  height: 55px;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.nav-item {
  margin: 0 10px;
  height: 100%;
}
.nav-link {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 55px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  transition: $transition;
  position: relative;
  &:hover {
    color: $secondcolor;
    &::after {
      border-bottom: 2px solid $secondcolor !important;
      left: 0;
      right: 0;
    }
  }
  &::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid;
    left: 52%;
    right: 50%;
    bottom: 10px;
    transition: $transition;
  }
}
.link-info {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff !important;
  font-size: 10px;
  padding: 1px 5px 0 5px !important;
}
.new {
  background-color: $secondcolor;
}
.pro {
  background-color: #fd6282;
}
.promotion-title {
  font-size: 15px;
  color: #fff;
}

#aside-menu {
  top: 0;
  left: 0;

  position: relative;
  width: 100%;
  height: 100%;
}
.aside-area {
  overflow: auto;
  position: fixed;
  left: -300px;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  width: 300px;
  height: 100%;
  transition: $transition;
  .aside-header {
    background-color: #f5f5f5;
    font-weight: 600;
    border-bottom: 1px solid #dcdee4;
    position: relative;
    text-align: center;
    padding: 15px 0;

    #close-aside {
      position: absolute;
      right: 0;
      margin: 15px 10px;
      top: 0;
      cursor: pointer;
      transition: $transition;
      color: rgb(175, 175, 175);
      &:hover {
        color: $secondcolor !important;
      }
    }
  }
}

.aside-bg {
  background-color: #00000036;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.show-aside {
  left: 0 !important;
}

.tree-main {
  padding: 0;
  margin: 5px 0;

  .tree-item {
    list-style: none;
    margin: 5px 0;
    .tree-link {
      color: #666;
      text-decoration: none;
      transition: $transition;
      font-size: 14px;
      &:hover {
        color: $secondcolor !important;
        &::before {
          background-color: $secondcolor !important;
          border: 1px solid transparent !important;
        }
      }

      &::before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 1px solid rgb(172, 172, 172);
        margin-right: 10px;
        display: inline-block;
        transition: $transition;
      }
    }
  }
}

.list-icon {
  float: right;
  cursor: pointer;
  font-size: 14px;
  padding: 0 2px;
  font-weight: 600;
  color: #666;
  display: none;
}
.open-list {
  display: inline-block !important;
}

.sub-menu {
  overflow: hidden;
  height: 0;
  transition: all 0.3s ease-in-out;
}

.sub-nav {
  .sub-last {
    &::after {
      display: none;
    }
  }
  .sub-item {
    list-style: none;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: -14px;
      border: 0 solid transparent;
      border-left-width: 1px;
      border-bottom-width: 1px;
      border-color: #ebebeb;
      width: 12px;
      height: 16px;
    }
    &::after {
      content: "";
      position: absolute;
      border: 0 solid transparent;
      top: 10px;
      left: -14px;
      border-left-width: 1px;
      border-color: #ebebeb;
      height: 100%;
    }

    .sub-link {
      text-decoration: none;
      color: #666;
      transition: $transition;
      font-size: 14px;
      &:hover {
        color: $secondcolor !important;
      }
    }
  }
}

.open-sub {
  height: 140px !important;
}

.aside-nav {
  background-color: #f5f5f5;
  border-top: 1px solid #dcdee4;
  border-bottom: 1px solid #dcdee4;

  .aside-nav-inner {
    margin: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    .aside-nav-item {
      list-style: none;
      margin: 7px;
      .aside-nav-link {
        color: #666;
        text-decoration: none;
        transition: $transition;
        font-size: 15px;
        &:hover {
          color: $secondcolor !important;
        }
      }
    }
  }
}
.aside-login {
  padding: 2rem 0;
  border-top: 1px solid #dcdee4;
}
.aside-login-btn {
  cursor: pointer;
  color: #666;
  font-size: 18px;
  padding: 5px 10px;
  border: 2px solid #666;
  border-radius: 5px;
  transition: $transition;
  svg {
    transition: $transition;
  }
  &:hover {
    color: $secondcolor !important;
    border: 2px solid $secondcolor !important;

    svg {
      color: $secondcolor !important;
    }
  }
}

.in-sub {
  height: 0;
  overflow: hidden;
  transition: $transition;
}

.close-sub-in {
  height: 50px !important;
}

.aside-lang {
  margin-bottom: 20px;
}
.aside-lang-area {
  display: flex;
  align-items: center;
  justify-content: center;
  .lang {
    margin: 10px 5px;
    margin-top: 0;
    color: #666;
    cursor: pointer;
    transition: $transition;
    padding: 0 5px;
    font-weight: 600;
    &:hover {
      color: $secondcolor !important;
    }
  }
}

.use-lang {
  background-color: #0c801b;
  color: #fff !important;
  padding: 0 5px;
  border-radius: 5px;
}
.aside-bg-on {
  visibility: visible;
  opacity: 1 !important;
}
.shop-opener {
  z-index: 99;
  visibility: hidden;
  position: absolute;
  top: 100%;
  opacity: 0;
  left: 0;
  width: 100%;
  transform: translateY(10px);
  transition: all 0.1s linear;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .shop-header {
    font-size: 17px;
    margin: 5px;
  }
}
.opened-menu {
  opacity: 1 !important ;
  visibility: visible !important;
  transform: translateY(0) !important;
}

.shop-item {
  margin: 2px 0.9rem;
  list-style: none;
  transition: $transition;
  min-width: 175px;
  &:hover {
    &::before {
      background-color: $secondcolor;
    }
    .shop-link {
      color: $secondcolor;
    }
  }
  &::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid rgba(172, 172, 172, 0.356);
    margin-right: 10px;
    display: inline-block;
    transition: $transition;
  }
}

.shop-link {
  font-size: 15px;
  text-decoration: none;
  color: #666;
  transition: $transition;
}
.electronic-menu {
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  top: 100%;
  left: 0;
  width: 100%;
  height: 250px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.1s linear;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.electronic-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.electronic-img {
  &:hover {
    filter: grayscale(0.2);
  }
}
.electronic-link {
  font-size: 15px;
  color: #000;
  text-decoration: none;
  transition: $transition;
  &:hover {
    color: $secondcolor;
  }
}
.electronic-header {
  font-weight: 650;
}

.fashion-menu {
  z-index: 99;
  padding: 0 16px;
  transform: translateY(10px);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.1s linear;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  .fashion-menu-area {
    display: flex;
    justify-content: space-between;

    .fashion-nav {
      margin: 20px;
      padding: 0;
      .fashion-item {
        list-style: none;
        margin: 5px 0;
        .fashion-link {
          color: #666;
          text-decoration: none;
          font-size: 14px;
          transition: $transition;
          &:hover {
            color: $secondcolor !important;
          }
        }
      }
    }
  }
}

.fashion-header {
  font-weight: 600;
  margin: 10px 0;
  text-decoration: none;
  color: #000;
  transition: $transition;
  &:hover {
    color: $secondcolor !important;
  }
}
.navFixedTol {
  margin-bottom: 55px !important;
}
.appliance-menu {
  padding: 20px 0;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.1s linear;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  background-image: url(../../../images/appliance.jpg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  .appliance-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .appliance-nav {
      padding: 0 1.5rem;
      flex-wrap: wrap;
      display: flex !important;
      flex-direction: row !important;
      justify-content: center;
      align-items: center;
      width: 100%;
      .appliance-item {
        min-width: 192px;
        max-width: 192px;
        margin: 5px 10px;
        list-style: none;

        .appliance-link {
          text-decoration: none;
          color: #666;
          transition: $transition;
          &::before {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: 1px solid rgba(172, 172, 172, 0.356);
            margin-right: 10px;
            display: inline-block;
            transition: $transition;
          }
          &:hover {
            color: $secondcolor !important;
            &::before {
              background-color: $secondcolor !important;
            }
          }
        }
      }
    }
  }
}
.appliance-header {
  margin: 0 1.5rem;
  text-decoration: none;
  font-weight: 600;
  color: #000;
  transition: $transition;
  &:hover {
    color: $secondcolor !important;
  }
}
.sales-menu {
  z-index: 99;
}
.brands-menu {
  z-index: 99;
}
.features-menu {
  z-index: 99;
}
.loginFormBack {
  position: fixed;
  width: 1%;
  height: 1%;
  background-color: rgba(0, 0, 0, 0.205);
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 1.2s linear;
  opacity: 0;
  visibility: hidden;
}
.login-menu {
  cursor: pointer;
}
.formSHow {
  visibility: visible !important;
  opacity: 1 !important;
  width: 100%;
  height: 100%;
}
.loginFormDark {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.315);
  display: none;
}
.showDarkForm {
  display: block !important;
}

// RESPONSIVE CSS

@media screen and (max-width: 385px) {
  .middle-right {
    min-width: 100px !important;
  }
  .top-right {
    display: none !important;
  }
  .login-header {
    font-size: 12px !important;
  }
  .register-header {
    font-size: 13px !important;
  }
  .cart-header {
    font-size: 13px !important;
  }
  .login-menu {
    margin: 0 0.5rem !important;
  }
  .my-cart {
    margin: 0 0.5rem !important;
  }
}

@media screen and (max-width: 415px) and (min-width: 386px) {
  .top-right {
    display: none !important;
  }
  .middle-right {
    min-width: 300px !important;
  }
}

@media screen and (max-width: 1207px) {
  .navbar-nav {
    display: none !important;
  }
  #navMain {
    justify-content: space-between !important;
  }
}
@media screen and (max-width: 866px) {
  .aside-headers {
    display: none;
  }
  .help-text {
    display: none;
  }
}

@media screen and (max-width: 767.99px) {
  .middle-nav {
    flex-direction: column !important;

    .navbar-brand {
      margin-bottom: 1rem !important;
    }
    .search-form {
      margin-bottom: 1rem !important;
    }
  }
}

@media screen and (max-width: 1023.99px) and (min-width: 768px) {

  
}
