body {
  position: relative;
}

.navbar {
  background-color: transparent;
  min-height: 55px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.top-nav {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.164);
}

.loginMain {
  opacity: 0 !important;
}

.defaultLogin {
  cursor: pointer;
}

.sticky-nav {
  z-index: 98;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  padding: 0 1rem !important;
  background-color: #263c97 !important;
  height: 70px;
  left: 0 !important;
}

#mainHeader {
  background-color: #263c97;
  position: relative;
}

.ReactFlagsSelect-module_selectBtn__19wW7 {
  border: none;
  border-radius: 0px !important;
  border-right: 1px solid rgba(255, 255, 255, 0.164);
  padding: 0px 10px !important;
}

.ReactFlagsSelect-module_selectBtn__19wW7::after {
  border-top: 5px solid #fff;
}

.ReactFlagsSelect-module_selectBtn__19wW7 .ReactFlagsSelect-module_selectValue__152eS {
  margin: 0 !important;
}

.ReactFlagsSelect-module_selectFlag__2q5gC {
  font-size: 1em !important;
}

.ReactFlagsSelect-module_selectBtn__19wW7[aria-expanded="true"]::after {
  border-bottom: 5px solid #fff !important;
}

.ReactFlagsSelect-module_selectOptions__3LNBJ {
  margin-top: 0px !important;
  min-height: 100% !important;
  max-height: inherit !important;
  overflow: hidden !important;
}

.ReactFlagsSelect-module_selectOptions__3LNBJ .ReactFlagsSelect-module_label__27pw9 {
  color: #000;
}

.ReactFlagsSelect-module_selectOptions__3LNBJ .ReactFlagsSelect-module_label__27pw9:hover {
  color: #16bcdc !important;
}

.ReactFlagsSelect-module_label__27pw9 {
  font-size: 0.9em !important;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.ReactFlagsSelect-module_label__27pw9:hover {
  color: #16bcdc !important;
}

#reactFlag {
  color: #000;
}

.dropdown-menu {
  min-width: 0 !important;
}

.dropdown-item {
  padding: 5px 15px !important;
  font-size: 0.9em;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.dropdown-item:hover {
  color: #16bcdc !important;
}

#dropdownMenu2 {
  background-color: transparent !important;
  color: #fff !important;
  border-right: 1px solid rgba(255, 255, 255, 0.164) !important;
  border: none;
  font-size: 0.9em;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#dropdownMenu2:hover {
  color: #16bcdc !important;
}

.help-text {
  font-size: 0.9em;
  color: #fff !important;
}

.call-num {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.call-num:hover {
  color: #16bcdc !important;
}

.right-item {
  list-style: none;
}

.right-item .right-link {
  color: #fff;
  font-size: 0.9em;
  text-decoration: none;
  padding: 0 15px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.right-item .right-link:nth-child(1) {
  border-right: 1px solid rgba(255, 255, 255, 0.164);
}

.right-item .right-link:hover {
  color: #16bcdc;
}

.right-item .faq {
  border: none !important;
}

#search {
  width: 80%;
  height: 50px;
  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-form {
  text-align: center;
  height: 50px;
  width: 100%;
}

#searchSubmit {
  background-color: #16bcdc;
  vertical-align: bottom;
  width: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: inherit;
  border: none;
}

#searchSubmit svg {
  padding: 0;
  color: #fff;
}

.middle-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.164);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 350px;
}

.middle-right .login-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

.middle-right .login-menu .login-or-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 5px;
}

.middle-right .login-menu .login-or-register .login-header {
  font-size: 15px;
  color: #a3afe1;
  cursor: pointer;
}

.middle-right .login-menu .login-or-register .register-header {
  font-size: 15px;
  cursor: pointer;
  color: #fff;
}

.middle-right .my-cart {
  cursor: pointer;
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.middle-right .my-cart .product-quantity {
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background-color: #16bcdc;
  position: absolute;
  left: 9px;
  padding: 0 7px !important;
  top: 0;
}

.middle-right .my-cart .cart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle-right .my-cart .cart-info .cart-header {
  color: #a3afe1;
  font-size: 15px;
}

.middle-right .my-cart .cart-info .cart-price {
  color: #fff;
  font-size: 15px;
}

.get-side-menu {
  font-size: 15px;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.get-side-menu:hover {
  color: #16bcdc !important;
}

.navbar-nav {
  width: 750px;
  height: 55px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-item {
  margin: 0 10px;
  height: 100%;
}

.nav-link {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 55px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
}

.nav-link:hover {
  color: #16bcdc;
}

.nav-link:hover::after {
  border-bottom: 2px solid #16bcdc !important;
  left: 0;
  right: 0;
}

.nav-link::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid;
  left: 52%;
  right: 50%;
  bottom: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.link-info {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff !important;
  font-size: 10px;
  padding: 1px 5px 0 5px !important;
}

.new {
  background-color: #16bcdc;
}

.pro {
  background-color: #fd6282;
}

.promotion-title {
  width: 360px;
  font-size: 15px;
  color: #fff;
}

#aside-menu {
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.aside-area {
  overflow: auto;
  position: fixed;
  left: -300px;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  width: 300px;
  height: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.aside-area .aside-header {
  background-color: #f5f5f5;
  font-weight: 600;
  border-bottom: 1px solid #dcdee4;
  position: relative;
  text-align: center;
  padding: 15px 0;
}

.aside-area .aside-header #close-aside {
  position: absolute;
  right: 0;
  margin: 15px 10px;
  top: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #afafaf;
}

.aside-area .aside-header #close-aside:hover {
  color: #16bcdc !important;
}

.aside-bg {
  background-color: #00000036;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.show-aside {
  left: 0 !important;
}

.tree-main {
  padding: 0;
  margin: 5px 0;
}

.tree-main .tree-item {
  list-style: none;
  margin: 5px 0;
}

.tree-main .tree-item .tree-link {
  color: #666;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 14px;
}

.tree-main .tree-item .tree-link:hover {
  color: #16bcdc !important;
}

.tree-main .tree-item .tree-link:hover::before {
  background-color: #16bcdc !important;
  border: 1px solid transparent !important;
}

.tree-main .tree-item .tree-link::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #acacac;
  margin-right: 10px;
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.list-icon {
  float: right;
  cursor: pointer;
  font-size: 14px;
  padding: 0 2px;
  font-weight: 600;
  color: #666;
  display: none;
}

.open-list {
  display: inline-block !important;
}

.sub-menu {
  overflow: hidden;
  height: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sub-nav .sub-last::after {
  display: none;
}

.sub-nav .sub-item {
  list-style: none;
  position: relative;
}

.sub-nav .sub-item::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -14px;
  border: 0 solid transparent;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-color: #ebebeb;
  width: 12px;
  height: 16px;
}

.sub-nav .sub-item::after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  top: 10px;
  left: -14px;
  border-left-width: 1px;
  border-color: #ebebeb;
  height: 100%;
}

.sub-nav .sub-item .sub-link {
  text-decoration: none;
  color: #666;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 14px;
}

.sub-nav .sub-item .sub-link:hover {
  color: #16bcdc !important;
}

.open-sub {
  height: 140px !important;
}

.aside-nav {
  background-color: #f5f5f5;
  border-top: 1px solid #dcdee4;
  border-bottom: 1px solid #dcdee4;
}

.aside-nav .aside-nav-inner {
  margin: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.aside-nav .aside-nav-inner .aside-nav-item {
  list-style: none;
  margin: 7px;
}

.aside-nav .aside-nav-inner .aside-nav-item .aside-nav-link {
  color: #666;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 15px;
}

.aside-nav .aside-nav-inner .aside-nav-item .aside-nav-link:hover {
  color: #16bcdc !important;
}

.aside-login {
  padding: 2rem 0;
  border-top: 1px solid #dcdee4;
}

.aside-login-btn {
  cursor: pointer;
  color: #666;
  font-size: 18px;
  padding: 5px 10px;
  border: 2px solid #666;
  border-radius: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.aside-login-btn svg {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.aside-login-btn:hover {
  color: #16bcdc !important;
  border: 2px solid #16bcdc !important;
}

.aside-login-btn:hover svg {
  color: #16bcdc !important;
}

.in-sub {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.close-sub-in {
  height: 50px !important;
}

.aside-lang {
  margin-bottom: 20px;
}

.aside-lang-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aside-lang-area .lang {
  margin: 10px 5px;
  margin-top: 0;
  color: #666;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 0 5px;
  font-weight: 600;
}

.aside-lang-area .lang:hover {
  color: #16bcdc !important;
}

.use-lang {
  background-color: #0c801b;
  color: #fff !important;
  padding: 0 5px;
  border-radius: 5px;
}

.aside-bg-on {
  visibility: visible;
  opacity: 1 !important;
}

.shop-opener {
  z-index: 99;
  visibility: hidden;
  position: absolute;
  top: 100%;
  opacity: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.shop-opener .shop-header {
  font-size: 17px;
  margin: 5px;
}

.opened-menu {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.shop-item {
  margin: 2px 0.9rem;
  list-style: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  min-width: 175px;
}

.shop-item:hover::before {
  background-color: #16bcdc;
}

.shop-item:hover .shop-link {
  color: #16bcdc;
}

.shop-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid rgba(172, 172, 172, 0.356);
  margin-right: 10px;
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.shop-link {
  font-size: 15px;
  text-decoration: none;
  color: #666;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.electronic-menu {
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  top: 100%;
  left: 0;
  width: 100%;
  height: 250px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.electronic-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.electronic-img:hover {
  -webkit-filter: grayscale(0.2);
          filter: grayscale(0.2);
}

.electronic-link {
  font-size: 15px;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.electronic-link:hover {
  color: #16bcdc;
}

.electronic-header {
  font-weight: 650;
}

.fashion-menu {
  z-index: 99;
  padding: 0 16px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
}

.fashion-menu .fashion-menu-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fashion-menu .fashion-menu-area .fashion-nav {
  margin: 20px;
  padding: 0;
}

.fashion-menu .fashion-menu-area .fashion-nav .fashion-item {
  list-style: none;
  margin: 5px 0;
}

.fashion-menu .fashion-menu-area .fashion-nav .fashion-item .fashion-link {
  color: #666;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.fashion-menu .fashion-menu-area .fashion-nav .fashion-item .fashion-link:hover {
  color: #16bcdc !important;
}

.fashion-header {
  font-weight: 600;
  margin: 10px 0;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.fashion-header:hover {
  color: #16bcdc !important;
}

.navFixedTol {
  margin-bottom: 55px !important;
}

.appliance-menu {
  padding: 20px 0;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  background-image: url(../../../images/appliance.jpg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.appliance-menu .appliance-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appliance-menu .appliance-area .appliance-nav {
  padding: 0 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.appliance-menu .appliance-area .appliance-nav .appliance-item {
  min-width: 192px;
  max-width: 192px;
  margin: 5px 10px;
  list-style: none;
}

.appliance-menu .appliance-area .appliance-nav .appliance-item .appliance-link {
  text-decoration: none;
  color: #666;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.appliance-menu .appliance-area .appliance-nav .appliance-item .appliance-link::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid rgba(172, 172, 172, 0.356);
  margin-right: 10px;
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.appliance-menu .appliance-area .appliance-nav .appliance-item .appliance-link:hover {
  color: #16bcdc !important;
}

.appliance-menu .appliance-area .appliance-nav .appliance-item .appliance-link:hover::before {
  background-color: #16bcdc !important;
}

.appliance-header {
  margin: 0 1.5rem;
  text-decoration: none;
  font-weight: 600;
  color: #000;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.appliance-header:hover {
  color: #16bcdc !important;
}

.sales-menu {
  z-index: 99;
}

.brands-menu {
  z-index: 99;
}

.features-menu {
  z-index: 99;
}

.loginFormBack {
  position: fixed;
  width: 1%;
  height: 1%;
  background-color: rgba(0, 0, 0, 0.205);
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 1.2s linear;
  transition: all 1.2s linear;
  opacity: 0;
  visibility: hidden;
}

.formSHow {
  visibility: visible !important;
  opacity: 1 !important;
  width: 100%;
  height: 100%;
}

.loginFormDark {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.315);
  display: none;
}

.showDarkForm {
  display: block !important;
}

.myProfileBtn {
  color: #fff;
  font-weight: 600;
}

.myProfileLink {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userDropdown {
  border: 1px solid #94949446;
  display: none;
  position: absolute;
  background-color: #fff !important;
  top: 100%;
  z-index: 97;
  right: 0;
  left: 0;
  width: 100%;
  padding: 5px 0 !important;
  height: 150px;
}

.userDropdown li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showLittleNav {
  display: block !important;
}

.signOut {
  color: #c71717;
}

@media screen and (max-width: 385px) {
  .middle-right {
    min-width: 100px !important;
  }
  .top-right {
    display: none !important;
  }
  .login-header {
    font-size: 12px !important;
  }
  .register-header {
    font-size: 13px !important;
  }
  .cart-header {
    font-size: 13px !important;
  }
  .login-menu {
    margin: 0 0.5rem !important;
  }
  .my-cart {
    margin: 0 0.5rem !important;
  }
}

@media screen and (max-width: 415px) and (min-width: 386px) {
  .top-right {
    display: none !important;
  }
  .middle-right {
    min-width: 300px !important;
  }
}

@media screen and (max-width: 1207px) {
  .navbar-nav {
    display: none !important;
  }
  #navMain {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}

@media screen and (max-width: 866px) {
  .aside-headers {
    display: none;
  }
  .help-text {
    display: none;
  }
}

@media screen and (max-width: 767.99px) {
  .middle-nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .middle-nav .navbar-brand {
    margin-bottom: 1rem !important;
  }
  .middle-nav .search-form {
    margin-bottom: 1rem !important;
  }
}
/*# sourceMappingURL=header.css.map */