$secondColor: #37a0bd;
.mainSection {
  margin-left: 350px;
}
.breadLink {
  color: $secondColor;
  text-decoration: none;
}
.lastCrumb {
  color: #666;
}
.crumbIcon {
  font-size: 18px;
  margin-right: 10px;
}
